[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
jedi = "*"

[packages]
pyserial = "*"
Pillow = "*"
pudb = "*"
flipdot = {editable = true,path = "."}

[requires]
python_version = "*"
